<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>你的网络异常,请重试</string>
	<key>200</key>
	<string>请求成功处理并返回</string>
	<key>203</key>
	<string>refresh_token已存在对应token</string>
	<key>204</key>
	<string>数据无更新</string>
	<key>205</key>
	<string>抱歉，你暂时没有此权限哦</string>
	<key>206</key>
	<string>恭喜，你已签到</string>
	<key>230</key>
	<string>服务密码验证错误，请重试</string>
	<key>251</key>
	<string>手机号或密码不正确</string>
	<key>252</key>
	<string>该手机号码注册过哦</string>
	<key>253</key>
	<string>你输入的邀请码不正确</string>
	<key>254</key>
	<string>你还未登录哦</string>
	<key>255</key>
	<string>短信获取频繁,请稍后再试</string>
	<key>256</key>
	<string>短信获取频繁,请稍后再试</string>
	<key>258</key>
	<string>手机号尚未注册</string>
	<key>259</key>
	<string>恭喜你实名认证成功</string>
	<key>260</key>
	<string>你输入的服务密码有误</string>
	<key>261</key>
	<string>操作太频繁招架不住了，休息28秒吧</string>
	<key>262</key>
	<string>旧登录密码输入错误哦</string>
	<key>263</key>
	<string>抱歉，此证件号已被使用</string>
	<key>264</key>
	<string>验证码输入错误或已过期</string>
	<key>265</key>
	<string>输入错误次数过多,请尝试短信登录</string>
	<key>266</key>
	<string>验证码输入错误或已过期</string>
	<key>268</key>
	<string>抱歉,证件验证未通过</string>
	<key>269</key>
	<string>输入的旧手机号与本账号绑定手机号不一致</string>
	<key>270</key>
	<string>你输入的新旧手机号一样哦</string>
	<key>271</key>
	<string>旧服务密码输入有误</string>
	<key>274</key>
	<string>你暂未实名认证，请先进行实名认证，如已实名认证，请确保审核已通过</string>
	<key>275</key>
	<string>新密码不能与旧密码相同哦</string>
	<key>276</key>
	<string>你当前有未完成的预约</string>
	<key>277</key>
	<string>献血不要过于频繁哦</string>
	<key>279</key>
	<string>抱歉，该城市尚未开通服务</string>
	<key>280</key>
	<string>该时间段暂不能预约哦</string>
	<key>281</key>
	<string>你已参加过此活动，下次再来哟~</string>
	<key>283</key>
	<string>你已评价过了~</string>
	<key>284</key>
	<string>抱歉，你已绑定过该号码</string>
	<key>285</key>
	<string>你尚未进行献血认证哦~</string>
	<key>286</key>
	<string>抱歉,该类型证件已被添加</string>
	<key>287</key>
	<string>你的操作已过期，请重新登录</string>
	<key>288</key>
	<string>此手机号码已被占用，请更换其他手机号</string>
	<key>289</key>
	<string>献血核实通过</string>
	<key>290</key>
	<string>献血不通过</string>
	<key>291</key>
	<string>在该地区已经进行过献血核实</string>
	<key>292</key>
	<string>非常抱歉,领券时间已过，下次早点来哦！</string>
	<key>293</key>
	<string>十分抱歉,优惠券已过期</string>
	<key>294</key>
	<string>很抱歉,优惠券已领完，下次再来吧！</string>
	<key>295</key>
	<string>证件信息不匹配</string>
	<key>296</key>
	<string>人脸识别失败</string>
	<key>301</key>
	<string>献血记录已存在</string>
	<key>302</key>
	<string>功能暂未开放</string>
	<key>303</key>
	<string>用户未注册</string>
	<key>304</key>
	<string>此功能在当前版本不可用</string>
	<key>548</key>
	<string>订单不存在</string>
	<key>549</key>
	<string>订单删除失败</string>
	<key>550</key>
	<string>未知错误 </string>
	<key>551</key>
	<string>无对应用户</string>
	<key>552</key>
	<string>错误的请求参数</string>
	<key>555</key>
	<string>客户端数据签名验证失败</string>
	<key>556</key>
	<string>客户端token验证不通过</string>
	<key>557</key>
	<string>客户端登陆头部验证失败</string>
	<key>558</key>
	<string>指定资源不存在</string>
	<key>559</key>
	<string>设置信息错误</string>
	<key>561</key>
	<string>服务器繁忙</string>
	<key>567</key>
	<string>登陆验证失败</string>
	<key>575</key>
	<string>第三方认证不通过</string>
	<key>576</key>
	<string>当前账号还未关联手机号</string>
	<key>568</key>
	<string>操作拒绝</string>
	<key>998</key>
	<string>此功能已更改,请下载新版本</string>
	<key>999</key>
	<string>返回内容为空</string>
</dict>
</plist>
